.popup__container {
  background-color: #fff;
  border-radius: 10px;
  max-width: 282px;
  display: grid;
  align-content: space-between;
  position: relative;
  padding: 25px 22px;
  box-sizing: border-box;
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .popup__container {
    min-width: 430px;
    padding: 0;
  }
}