.card__like {
  padding: 0;
  padding-right: 22px;
  background-color: transparent;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  color: black;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  transition: background 2000s;
}

.card__like:hover {
  opacity: .5;
}

.card__like:focus {
  background-image: url(../../../images/heart_active.svg);
  opacity: 1;
  transition: background 0s;
}

@media screen and (min-width: 1280px) {
  .card__like {
    padding-right: 27px;
  }
}